/* fonts
    font-family: 'Alegreya', serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'BioRhyme', serif;
    font-family: 'Open Sans', sans-serif;
*/

/* colors
dark blue #0a091b;
white;
light blue #276EF1;
orange #ED6E33 */

/* * {
    border: 1px dotted yellow;
} */

body, .navbar, .jumbotron {
    background-color: #0a091b;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;

}

h1{
    padding-top: 0;
}

a{
    color:white;
}

a:hover{
    color: #ED6E33;
}

.navbar{
    background-color: #0a091b;
}

.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
    
    font-size: 2em;
}

.relative {
    position: relative;
}

.text-hero{
    color: #ED6E33;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18rem;
}

.text-sub-hero{
    position: absolute;
    top: 11.9rem;
    left: 6rem;
    color:#276EF1;
    font-family: 'BioRhyme', serif;
    font-size: 10em;
    font-weight: bold;
    font-style: italic;
}